#Cabecera{
    margin: auto;
}
h1{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}

h2{
    text-align: center;
    font-size: 30px;
    color: aqua;
    margin-top: 170px;
}

h3{
    font-size: 20px;
    color: aquamarine;
    text-align: center;
}

nav{
    background: rgba(0,0,0,0.7);
    width: 100%;
    
    z-index: 100;
    float: left;
    text-align: center;
}

nav ul{
    list-style: none;
    overflow: hidden; 
    display: inline-block;
}

nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav ul li a {
    display: block; 
    padding: 30px;
    color: #fff;
    text-decoration: none;
  }

  nav ul li:hover {
    background: #eca023;
  }

  body{
    background-image: url(FOTOS/fondogrande.jpg);
    
  }

  #Logo1{
    position: absolute;
    left: 200px;
  }

  #Logo2{
    position: absolute;
    right: 200px;
  }


#Portada{
    display: block;
    margin: auto;
    width: 700px;
    height: 400px;
}
pre{
    color: white;
    text-align: center;
}

footer{
    background-color: black;
    height: 250px;
    width: 100%;
}

#Columna1{
    position: absolute; 
    top: auto; 
    left: 0%; 
    width: 33%; 
    height: 150px;
}

#Columna2{
    position: absolute; 
    top: auto; 
    left: 40%; 
    width: 33%; 
    height: 150px;
}

#Columna3{
    position: absolute; 
    top: auto; 
    left: 80%; 
    width: 33%; 
    height: 150px;
}

#TC1{
    text-align: center;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#TC2{
    text-align: center;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#TC3{
    text-align: left;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

form{
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
}

#CuerpoGaleria1{
display: inline-table;
margin-left: 20%;    
}

#CuerpoGaleria2{
    
    display: inline-table;
    margin-left: 30%;    

}

p{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/*CSS del formulario de la tienda online*/


#CuerpoTO {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: darkcyan;
  font-family: "lato", sans-serif;
}

.FormPago {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 200px;
 
}


.form {
  background-color: darkcyan;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  background-image: url(FOTOS/Madera.jpg);
}

.inputContenedor {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: darkcyan;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.submitpago{
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitpago:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  border: 2px solid purple;
}
    
    
    
