#Cabecera{
    margin: auto;
}
h1{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}

h2{
    text-align: center;
    font-size: 30px;
    color: aqua;
    margin-top: 170px;
}

h3{
    font-size: 20px;
    color: aquamarine;
    text-align: center;
}

nav{
    background: rgba(0,0,0,0.7);
    width: 100%;
    
    z-index: 100;
    float: left;
    text-align: center;
}

nav ul{
    list-style: none;
    overflow: hidden; 
    display: inline-block;
}

nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav ul li a {
    display: block; 
    padding: 30px;
    color: #fff;
    text-decoration: none;
  }

  nav ul li:hover {
    background: #eca023;
  }

  body{
    background-image: url(FOTOS/fondogrande.jpg);
    
  }


#Portada{
    display: block;
    margin: auto;
    width: 700px;
    height: 400px;
}
pre{
    color: white;
    text-align: center;
}

footer{
    background-color: black;
    height: 250px;
    width: 100%;
}

#Columna1{
    position: absolute; 
    top: auto; 
    left: 0%; 
    width: 33%; 
    height: 150px;
}

#Columna2{
    position: absolute; 
    top: auto; 
    left: 40%; 
    width: 33%; 
    height: 150px;
}

#Columna3{
    position: absolute; 
    top: auto; 
    left: 80%; 
    width: 33%; 
    height: 150px;
}

#TC1{
    text-align: center;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#TC2{
    text-align: center;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#TC3{
    text-align: left;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

form{
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
}

#CuerpoGaleria1{
display: inline-table;
margin-left: 20%;    
}

#CuerpoGaleria2{
    
    display: inline-table;
    margin-left: 30%;    

}

p{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



